[Desktop Entry]
Name=GRUB Settings
Comment=Customize your GRUB bootloader easily
Exec=/usr/bin/grub-settings
Icon=io.github.taylan.grubsettings
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=grub;boot;loader;customization;
StartupNotify=true
